---
import SongPlayer from '../components/SongPlayer.astro';
import Layout from '../layouts/Layout.astro';

const gameCode = Astro.url.searchParams.get("code") ?? "";
---

<Layout>
    <h1 id="game-code">{gameCode}</h1>
	<div id="game-page">
		<SongPlayer gameCode={gameCode} />
	</div>
</Layout>

<script>
</script>

<style>

    #game-code {
        width: 20vh;
        height: 5vh;
		color: rgb(255, 255, 255);
		font-family: "Tilt Neon", sans-serif;
		font-optical-sizing: auto;
  		font-weight: 400;
  		font-style: normal;
		font-size: 500px;
		text-shadow:
			0 0 12px rgba(0, 234, 255, 0.9),
			0 0 24px rgba(255, 0, 255, 0.7);
		margin: 0;
    }
	#game-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

</style>