---
import GameComponent from '../components/gameComponent.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = false;    // or set `output: "server"` in astro.config.mjs

const gameCode = Astro.url.searchParams.get("code") ?? "";
---

<Layout>
	<div id="game-page">
		<GameComponent gameCode={gameCode} />
	</div>
</Layout>

<script>

  	// pass it into your island if you need to
</script>

<style>

	#game-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

</style>