---
import Welcome from '../components/Welcome.astro';
import SongPlayer from '../components/SongPlayer.astro'
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div id="container">
		<Welcome />
		<SongPlayer/>
	</div>
	
</Layout>



<style>

	#container{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

</style>